$primary: #2196f3;
$primary-darker: #3281ac;
$secondary: #919191;
$functional: #31b27c;
$brand: #e84989;
$white: #fff;
$black: #222121;

$paddingSide: 20px;
$paddingSideMobile: 10px;
$headHeight: 50px;